<template>
    <section class="pages container">
        <div class="page page-about">
            <h1 class="text-capitalize">Página no encontrada</h1>
            <p>Regresar a
                <router-link :to="{ name: 'home' }">Inicio</router-link>
            </p>
        </div>
    </section>
</template>
