<template>
    <section class="pages container">
        <div class="page page-about">
            <h1 class="text-capitalize">about</h1>
            <cite>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque turpis in laoreet maximus. Curabitur quis dictum lectus. Integer bibendum sem magna, sit amet eleifend velit rhoncus non. Etiam condimentum erat a magna ultricies, vitae vehicula odio posuere.
            </cite>
            <div class="divider-2" style="margin: 35px 0;"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur, justo non suscipit aliquam, sem erat pharetra erat, vitae ultrices velit dolor convallis libero. Nullam luctus nunc sit amet molestie tincidunt. Aliquam ut enim eu libero euismod rhoncus luctus quis dui. Cras semper convallis pulvinar. Donec efficitur urna sit amet nulla eleifend efficitur. Donec vel elit vitae lectus consequat hendrerit sed ultrices mauris. Mauris ullamcorper congue nibh id dictum. Fusce ultrices aliquet tellus. Pellentesque eleifend nisi eget est cursus, eget sagittis tortor sagittis.</p>
            <p>Fusce tempor varius augue sed viverra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec mollis, nunc vel finibus scelerisque, quam sapien aliquet orci, ut cursus nulla urna nec nisl. Etiam placerat ante tincidunt, pretium ante sed, iaculis orci. Suspendisse sagittis urna elit, at aliquam quam aliquet vel. Etiam eu mauris non erat rutrum dictum. Curabitur scelerisque metus non lobortis ultrices.</p>
        </div>
    </section>
</template>
