<template>
    <section class="pages container">
        <div class="page page-contact">
            <h1 class="text-capitalize">contact us</h1>
            <p>Fusce tempor varius augue sed viverra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec mollis, nunc vel finibus scelerisque, quam sapien aliquet orci, ut cursus nulla urna nec nisl. Etiam placerat ante tincidunt, pretium ante sed, iaculis orci. Suspendisse sagittis urna elit, at aliquam quam aliquet vel. Etiam eu mauris non erat rutrum dictum. Curabitur scelerisque metus non lobortis ultrices.</p>
            <div class="divider-2" style="margin:25px 0;"></div>

            <contact-form />

        </div>
    </section>
</template>
