<template>
    <div>
        <component :is="componentName" :items="items" :loaded="loaded"></component>
        <pagination-links :pagination="pagination"/>
    </div>
</template>

<script>
    export default {
        props: ['url', 'componentName'],
        data() {
            return {
                pagination: {},
                items: {},
                loaded: false
            }
        },
        mounted() {
            axios.get(`${this.url}?page=${this.$route.query.page || 1}`)
                .then(res => {
                    this.pagination = res.data.posts;
                    this.items = res.data.posts.data;
                    this.loaded = true;
                    delete this.pagination.data;
                })
                .catch(err => {
                    console.log(err);
                });
        }
    }
</script>

<style lang="scss">
    .pagination {
        a.active {
            background-color: #1abc9c;
            color: #FFFFFF;
        }
    }
</style>
